@image-url         :        "..images";
@image-url-global  :        "../images";
@placeholder-url-global  :  "../placeholders";
@image-url-admin   :        "../../admin/i";
@image-url-site    :        "..images";
@font-url-global   :        "../fonts";
@url-admin         :        "../admin/";

@import "bootstrap/bootstrap";
@import "modules/fonts";
@import "modules/base";
@import "modules/nav";
@import "modules/banner";
@import "modules/body-content";
@import "modules/icons";
