@font-face {
    font-family: 'Brandon_bld';
    src: url('../fonts/brandon-fonts/Brandon_bld.eot');
    src: url('../fonts/brandon-fonts/Brandon_bld.eot') format('embedded-opentype'),
         url('../fonts/brandon-fonts/Brandon_bld.woff2') format('woff2'),
         url('../fonts/brandon-fonts/Brandon_bld.woff') format('woff'),
         url('../fonts/brandon-fonts/Brandon_bld.ttf') format('truetype'),
         url('../fonts/brandon-fonts/Brandon_bld.svg#Brandon_bld') format('svg');
}
@font-face {
    font-family: 'brandon_med';
    src: url('../fonts/brandon-fonts/brandon_med.eot');
    src: url('../fonts/brandon-fonts/brandon_med.eot') format('embedded-opentype'),
         url('../fonts/brandon-fonts/brandon_med.woff2') format('woff2'),
         url('../fonts/brandon-fonts/brandon_med.woff') format('woff'),
         url('../fonts/brandon-fonts/brandon_med.ttf') format('truetype'),
         url('../fonts/brandon-fonts/brandon_med.svg#brandon_med') format('svg');
}

@font-face {
    font-family: 'Brandon_reg';
    src: url('../fonts/brandon-fonts/Brandon_reg.eot');
    src: url('../fonts/brandon-fonts/Brandon_reg.eot') format('embedded-opentype'),
         url('../fonts/brandon-fonts/Brandon_reg.woff2') format('woff2'),
         url('../fonts/brandon-fonts/Brandon_reg.woff') format('woff'),
         url('../fonts/brandon-fonts/Brandon_reg.ttf') format('truetype'),
         url('../fonts/brandon-fonts/Brandon_reg.svg#Brandon_reg') format('svg');
}

@font-face {
    font-family: 'Gotham_bold';
    src: url('../fonts/gotham-fonts/GOTHMBOL.eot');
    src: url('../fonts/gotham-fonts/fonts/GOTHMBOL.woff') format('woff'), 
         url('../fonts/gotham-fonts/GOTHMBOL.ttf') format('truetype'), 
         url('../fonts/gotham-fonts/GOTHMBOL.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon/icomoon.eot?1k6e4x');
    src:url('../fonts/icomoon/icomoon.eot?1k6e4x#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf?1k6e4x') format('truetype'),
        url('../fonts/icomoon/icomoon.woff?1k6e4x') format('woff'),
        url('../fonts/icomoon/icomoon.svg?1k6e4x#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}







