.mini {
	display: none;
}
.navbar {
	border: none;
	margin-bottom: 10px;
	font-family: 'brandon_med';

	.fa-phone, .fa-fax {
		display: none;
	}
	
	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
}

.navbar-default {
	background-color: #ffffff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: none;
}

.navbar-brand {
	height: auto;
	padding: 5px 0px !important;
}
.nav > li > a {
	letter-spacing: 2px;
	color: @gray;
}

.icon-arrow-right:before {
	content: "\e803";
	font-family: 'icomoon';
}

.search-form {
	margin-top: 7px;
}

.navbar-right {
	.btn {
		border: 2px solid #62666e;
	}

	.btn:hover{
		border-color: #62666e;
	}

	.btn-info {
		padding: 0em 2em;
		background-color: #ffffff;
		overflow: hidden;

		&:before  {
			position: absolute;
			height: 100%;
			font-size: 125%;
			line-height: 3.5;
			transition: all 0.3s;	
			color: @gray;
			}

		&:hover {
			color: @gray;
		}
	}

	.btn-infoc {
		position: relative;
		&:before {
			left: 75%;
			opacity: 0;
			top: -7px;
		}
		&:hover:before {
			left: 83%;
			opacity: 1;
			top: -7px;
		}
	}
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color: @darkblue;
}
.dropdown-menu > li > a {
	padding: 5px 28px;

	&:first-child {
		margin-top: 10px;
	}
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #777777;
  background-color: transparent;
}

.hvr-grow-shadow .hvr-grow-shadow:active, .hvr-grow-shadow:focus, .hvr-grow-shadow:hover {
	box-shadow: none;
}

.btn:active, .btn.active {
	box-shadow: none; 
	-webkit-box-shadow: none;
}











