.footer {
  background-color: #404244;
  color: #d9d9d9;
  padding: 80px 20px;
  font-family: 'Brandon_reg';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.footer ul,
.footer span {
  line-height: 35px;
}
.footer li,
.footer span,
.footer i,
.footer p {
  color: #a2a6b4;
  font-size: 18px;
}
.footer .footer-details h4 {
  text-align: center;
  margin-bottom: 30px;
}
.footer .footer-details .sm-links {
  background-color: #d9d9d9;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  color: #404244;
}
.footer .footer-details .sm-list {
  display: table;
  margin: auto;
}
.footer .footer-details .sm-list li {
  float: left;
}
.footer .contact-info {
  margin-top: 30px;
}
.footer .copyright {
  margin-top: 80px;
  padding-left: 10em;
}
.footer .copyright p {
  font-size: 12px;
}
