.banner {
	padding: 9em 0;
	background: url('../images/main-bg.png') no-repeat;

	background-size: cover;
	position: relative;
	height: 722px;

	.banner-content {
		/*padding-top: 50px;*/
		
		h1 {
			font-size: 82px;
			color: #b4b8c4;
			font-family: 'Gotham-Bold';
		}
		p {
			font-size: 21px;
			color: #ffffff;
			font-family: 'Brandon Grotesque Reg';
		}
		button {
			padding: 20px 30px;
			background: none;
			color: #ffffff;
			border: 2px solid #ffffff;
			font-family: 'Brandon Grotesque Reg';
		}
	}

	.banner-img {
		padding-top: 30px;
		/*position: absolute;*/
		img {
			/*position: static;*/
			height: 538px;
			left: 100px;
		}
	}
}