.banner-slider {
	position: relative;
	background: url('../images/banner-img.png') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.banner {
	.carousel-title {
		font-family: @goth_bold;
		font-size: 82px;
		text-transform: uppercase;
		animation-delay: 1s;
		
	}
	
	.carousel-caption {
		font-family: @bran_reg;	
		position: relative;
		bottom: initial;
		text-align: left;
		width: 100%;
		padding-top: 6em;

		p {
			color: @white;
		}

		button {
			margin-top: 3em;
			background: none;
			box-shadow: none;
			border: 2px solid white;
			padding: 1em 2em;
		}
	}
	.carousel-img, .banner-content{
		animation-delay: 0.25s;
	}
	.carousel-indicators {
		margin-left: -35%;
		text-align: left;
	}
	.image-holder {
		position: relative;
		left: 5em;
		margin-top: 5em;


		img {
			width: 100%;
		}
	}
	.btn {
		border: 2px solid #62666e;
	}
	.btn-info {
		margin-top: 3em;
		background: none;
		border-color: @white;
		font-family: @bran_bold;
		letter-spacing: 1px;
		font-size: 15px;
	}
}


.subpage-banner {
	position: relative;
	width: 100%;
	height: 275px;

	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;

	h1 {
		position: absolute;
		color: #ffffff;
		top: 50%;
		left: 50%;
		.translate(-50%,-50%);
	}
}

.subpg-bg {
	background-size: cover;
	background-attachment: fixed;
	background-position: 50% 0;
}

.practice-subpg {
	background: url('../images/subpg-banner.jpg') no-repeat;
	.subpg-bg();
}

.lawyers-subpg {
	background: url('../images/subpg-banner-lawyers.jpg') no-repeat;
	.subpg-bg();
}

.vm-subpg {
	background: url('../images/subpg-banner-vm.jpg') no-repeat;
	.subpg-bg();
}

.cu-subpg {
	background: url('../images/subpg-banner-cu.jpg') no-repeat;
	.subpg-bg();
}

.history-subpg {
	background: url('../images/subpg-banner-vm.jpg') no-repeat;
	.subpg-bg();
}





