.banner-slider {
	background: url('../images/banner-img.png') no-repeat;
	background-size: cover;
	width: 100%;
	position: relative;
	background-attachment: fixed;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.banner {
	.carousel-title {
		font-family: @goth_bold;
		font-size: 82px;
		text-transform: uppercase;
	}

	.image-holder {
		position: relative;
		left: 5em;
		margin-top: 5em;


		img {
			width: 100%;
		}
	}

	.carousel-caption {
		font-family: @bran_reg;	
		position: relative;
		bottom: initial;
		text-align: left;
		width: 100%;
		padding-top: 6em;

		p {
			color: @white;
		}

		button {
			margin-top: 3em;
			background: none;
			box-shadow: none;
			border: 2px solid white;
			padding: 1em 2em;
		}
	}

	.carousel-indicators {
		margin-left: -35%;
		text-align: left;
	}

	.btn {
		border: 2px solid #62666e;
	}

	.btn:hover{
		border-color: #62666e;
	}

	.btn-info {
		margin-top: 3em;
		background: none;
		border-color: @white;
		font-family: @bran_bold;
		letter-spacing: 1px;
		font-size: 15px;
	}
}



/*.carousel-control {
	width: 5%;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
	background: rgba(0, 0, 0, 0.77);
	height: 60px;
	width: 200%;
	padding-top: 13px;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
	background: rgba(0, 0, 0, 0.77);
	height: 60px;
	width: 200%;
	padding-top: 13px;
}*/

/*@media screen and (min-width: 768px) {
	.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
		margin-left: -20px;
	}
}

@media screen and (min-width: 768px) {
	.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
		margin-right: -20px;
	}
}*/


/*.left-carousel-control:before {
 background: rgba(255, 255, 255, 0.13);
}

.left-carousel-control:before {
	position: absolute;
	padding: 30px;
	content: '';
}*/


.subpage-banner {
	position: relative;

	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;

	width: 100%;
	height: 275px;

	h1 {
		position: absolute;
		top: 50%;
		left: 50%;
		.translate(-50%,-50%);

		color: #ffffff;
	}
}

.subpg-bg {
	background-size: cover;
	background-attachment: fixed;
	background-position: 50% 0;
}

.practice-subpg {
	background: url('../images/subpg-banner.jpg') no-repeat;
	.subpg-bg();
}

.lawyers-subpg {
	background: url('../images/subpg-banner-lawyers.jpg') no-repeat;
	.subpg-bg();
}

.vm-subpg {
	background: url('../images/subpg-banner-vm.jpg') no-repeat;
	.subpg-bg();
}

.cu-subpg {
	background: url('../images/subpg-banner-cu.jpg') no-repeat;
	.subpg-bg();
}

.history-subpg {
	background: url('../images/subpg-banner-vm.jpg') no-repeat;
	.subpg-bg();
}





