.gap-20 {
	height: 20px;
}
.gap-30 {
	height: 30px;
}
.gap-50 {
	height: 50px;
}

body {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body-heading {
	font-family: 'Brandon Grotesque Bold';
}

.body-content {
	background-color: #f6f6f6;
}

.areas-of-practice {
	font-family: 'Brandon Grotesque Bold';
	padding: 50px 0px;
}

.body-heading {
	text-align: center;
	color: #2e3a5e;
	/*border: 1px solid #2e3a5e;*/
	border-right-style: none;
	border-left-style: none;
	border-top-style: none;
	/*margin: 0px 350px;*/
}

.prac-img-holder {
	min-height: 200px;
	overflow: hidden;
	position: relative;
}

.prac-title {
	background-color: #ffffff;
	padding: 3em;
	text-align: center;
}

.line-20 {
	/*border-top-style: 1px solid #2e3a5e;*/
	border: 1px solid red;
	width: 200px;
	margin: 0px 30px;
}

.welcome {
	background-color: #ffffff;
	padding: 50px 0px 0px;

	.body-heading {
		padding: 50px 0px;
	}

	.welc-content {
		padding-left: 35px;
		font-family: 'Brandon Grotesque Bold';
		h3 {
			color: #696666;
		}
		p {
			font-size: 20px;
			line-height: 30px;
			letter-spacing: 1px;
			text-align: justify;
			color: #8f8c8c;
			font-family: 'Brandon Grotesque Reg';
		}
		button {
			padding: 20px 30px;
			letter-spacing: 3px;
			background-color: #2e3a5e;
			color: #ffffff;
			border: none;
		}
	}
}
.post-section {
	background: url('../images/post-sec-bg.jpg') no-repeat;
	background-size: cover;
	height: 659px;
	width: 100%;
	position: relative;
	padding: 75px 0px;
	font-family: Myriad Pro;

	.latest-news {
		padding: 0px 165px 20px 0px;

		h2 {
			color: #2e3a5e;
			letter-spacing: 5px;

		}

		.news-img {
			background: url('../images/news-img.jpg') no-repeat;
			background-size: cover;
			height: 202px;
			width: 100%;
			position: relative;
		}

		.date {
			background: url('../images/date.jpg') no-repeat;
			background-size: cover;
			height: 52px;
			width: 100%;
			position: relative;
		}
		h4 {
			color: #696666;
			letter-spacing: 1px;
			font-size: 20px;
			font-family: 'Brandon Grotesque Bold';
		}
		p {
			font-size: 18px;
			line-height: 25px;
			text-align: justify;
			color: #8f8c8c;
			font-family: 'Brandon Grotesque Reg';
		}
	}

	.request-form {
		h2 {
			color: #2e3a5e;
			letter-spacing: 5px;
		}
		h4 {
			color: #696666;
			letter-spacing: 1px;
		}
		form {
			font-family: 'Brandon Grotesque Bold';

			input {
				padding: 15px;
				width: 45%;
				margin-right: 20px;
				
			}
			input:active {
				border: 2px solid #2e3a5e;
			}
		}
	}

	.parent-arrows {
		color: #ffffff;
		.arrows {
			padding: 10px;
			width: 30px;
			margin-right: 10px;
			background-color: #2e3a5e;
			
		}
	}
			
}

.footer {
	background-color: #404244;
	color: #d9d9d9;
	padding: 75px 280px;
	font-family: 'Brandon Grotesque Reg';

	li {
		list-style-type: none;
	}
	ul, span {
		line-height: 35px;
	}
	li, span, i, p {
		color: #a2a6b4;
		font-size: 18px;
	}
	.att {
		h4 {
			margin: 0px 0px 0px 39px;
		}
	}
}
