.input-group {
	width: 200px;
	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;

	input {
		margin-top: 10px;
		margin-right: 25px;

		&:focus {
			border-color: none;
			box-shadow: none;
		}
	}
	
}

.line-20 {
	border: 1px solid #2e3a5e;
	width: 20%;
	margin: auto;

}
.line-30 {
	border: 1px solid #2e3a5e;
	width: 35%;
	margin: auto;
}


.gap-25 {
	height: 25px;
}
.gap-30 {
	height: 30px;
}
.ml-10 {
	margin-left: 10px;
}

.ml-27 {
	margin-left: 27px;
}

.btn-page {
	font-size: 15px;
}


