.areas-of-practice {
	background-color: #f6f6f6;
	padding-bottom: 100px;
	font-family: 'Brandon_bld';
	color: #2e3a5e;


	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;

	.practice {
		overflow: hidden;

		.prac-img-holder {
			position: relative;
			img {

				width: 100%;
				max-height: 300px;
				height: 100%;
				
			}
		}
		.prac-title {
			background-color: #ffffff;
			padding: 30px;
			text-align: center;
		}
	}
}

.heading {
	text-align: center;
	font-family: 'Brandon_bld';
	padding: 70px 30px;
	color: #2e3a5e;
}



.welcome {
	padding-left: 20px;

	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;

	.welc-img  {
	/*	img {
			width: 100%;
			height: auto;
		}*/
	}

	.welc-content {
		font-family: 'Brandon_bld';
		color: #696666;
		padding: 0px 20px;
		.welc-title {

		}
		.welc-desc {
			padding-top: 30px;
			font-family: 'Brandon_reg';
			font-size: 20px;
			line-height: 30px;
			letter-spacing: 1px;
			text-align: justify;
			color: #8f8c8c;
		}
		.button-about {
			margin-bottom: 50px;
		}
	}

	button {
		margin-top: 50px;
		padding: 20px 30px;
		letter-spacing: 3px;
		background-color: #2e3a5e;
		color: #ffffff;
		border: none;
	}
}

.post-section {
	background: url('../images/post-sec-bg.jpg') no-repeat;
	background-size: cover;
	/*height: 659px;*/
	width: 100%;
	position: relative;
	padding: 75px 0px;
	font-family: Myriad Pro;


	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;

	.latest-news {
		padding: 0px 165px 20px 0px;

		h2 {
			color: #2e3a5e;
			letter-spacing: 5px;

		}

		h4 {
			color: #696666;
			letter-spacing: 1px;
			font-size: 20px;
			font-family: 'Brandon_bld';
		}
		p {
			font-size: 18px;
			line-height: 25px;
			text-align: justify;
			color: #8f8c8c;
			font-family: 'Brandon_reg';
		}

		.news-img {
			margin-top: 30px;
		}

		.news-desc {
			margin-top: 30px;
		}
	}

	.request-form {

		h2 {
			color: #2e3a5e;
			letter-spacing: 5px;
		}
		h4 {
			color: #696666;
			letter-spacing: 1px;
		}
		form {
			font-family: 'Brandon_bld';

			input {
				padding: 15px;
				width: 45%;
				margin-right: 20px;
				/*box-shadow: none;*/
			}
			input:focus {
				border: 2px solid #2e3a5e;
				box-shadow: none;
			}
			textarea {
				/*border: 2px solid #2e3a5e;*/
				border-radius: 0px;
				box-shadow: none !important;
			}
		}
		.request-form-details {
			margin-top: 30px;
			form {
				margin-top: 20px;

				button {
					background-color: #2e3a5e;
					color: #ffffff;
					border: none;
					padding: 15px 45px;
				}
				.message {
				width: 94%;
				}
			}
		}
	}

	.parent-arrows {
		color: #ffffff;
		margin-top: 3em;

		.arrows {
			/*padding: 15px 45px;*/
			width: 20%;
			margin-right: 10px;
			background-color: #2e3a5e;
			color: #ffffff;
			font-size: 20px;
			border: none;
		}
	}
}

.footer {
	background-color: #404244;
	color: #d9d9d9;
	padding: 80px 20px;
	font-family: 'Brandon_reg';

	
	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;

	li {
		list-style-type: none;
	}
	ul, span {
		line-height: 35px;
	}
	li, span, i, p {
		color: #a2a6b4;
		font-size: 18px;
	}

	.footer-details {
		padding: 25px 0px;
		ul {
			margin-left: -40px;
		}

		.social-media-links {
			background-color: #d9d9d9;
			width: 40px;
			height: 40px;
			margin-right: 20px;
			margin-bottom: 10px;
			padding: 10px;
			text-align: center;
			border-radius: 50%;
			i {
				color: #404244;
			}
		}

	}

	.contact-info {
		margin-top: 30px;
	}


	.copyright {
		margin-top: 80px;
		padding-left: 10em;
		p {
			font-size: 12px;
		}
	}
}

