@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/GOTHMBOL.TTF');
}

@font-face {
	font-family: 'Brandon Grotesque Reg';
	src: url('../fonts/Brandon_reg.otf');
}

@font-face {
	font-family: 'Brandon Grotesque Bold';
	src: url('../fonts/Brandon_bld.ttf');
}

@font-face {
	font-family: 'Brandon Grotesque Medium';
	src: url('../fonts/brandon_med.ttf');
}