.form-control {
	height: 50px;
	font-size: 16px;
	border-radius: 0px;
}
textarea#message {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz--box-shadow: none;
}

.form-group .row .col-md-6 input {
	box-shadow: none;
}

.form-group {
	font-family: @bran_bold;
	font-size: 16px;
}

.submit {
	padding: 1em 3.5em !important;
	font-size: 16px;
	&:hover, &:active, &:focus {
		.btn-post();
		font-size: 16px;
	}
}

.btn-post-md {
	.btn-post();
	/*font-size: 16px;*/
}

form .btn {
	margin-top: 30px;
	/*padding: 1.5em 3.5em;*/
	padding: 1.3em 4.3em;
	font-family: @bran_bold ;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
	color: @white;
}
.form-wrapper {
	margin-top: 3em;
}