.navbar {
	border: none;
/*	min-height: 140px;*/
	margin-bottom: 0px;
	font-family: 'Brandon Grotesque Medium';
}

.navbar-default {
	background-color: #ffffff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: none;
}

.main-nav {
	margin-top: 20px;

	button {
		padding: 15px;
		font-size: 16px;
		letter-spacing: 1px;
		margin-top: -15px;
		background-color: #ffffff;
		border: 2px solid #62666e;
	}
}

.search-nav {

}