.btn {
	border-radius: 0px;
	text-transform: uppercase;
	font-family: @bran_reg;
	/*margin-top: 30px;*/
	background-color: @btn-color;
	color: #ffffff;
	padding: 15px 25px;
}

.section {
	padding: 5em 0 0 0;
	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
}

.section-title {
	text-align: center;
}
.section-content {
	margin: 5em 0;
}

.section-welcome {

	.section-content {
		margin-bottom: 0;
	}

	.sec-image-holder {
		max-width: 580px;
		width: 100%;
		margin-top: 4em;

		img {
			width: 100%;
		}
	}
}

.section-desc {
	margin-top: 2em;
	padding-right: 5em;

	.btn {
		margin-top: 30px;
	}
}

.section-subtitle {
	margin-bottom: 30px;
}
.section-areas {
	background-color: #f6f6f6;
	padding-bottom: 5em;
}



