.section-practice {
	padding: 8em 0;

	h2, h4 {
		text-align: left;
	}
	h2 {
		font-size: 32px;
	}

	h4 {
		text-transform: uppercase;
		font-family: @bran_reg;
		color: @darkblue;
		margin-top: 30px;
		letter-spacing: 1px;
	}

	.section-desc {
		padding-right: 6em;
		p {
			font-size: 18px;
			line-height: 28px;
		}
	}
	ul {
		margin-top: 2em;
	}
	li {
		font-size: 17px;
		color: @gray;
	}
}
.section-team {
	padding: 8em 0;

	.section-desc p {
		text-align: center;
		padding: 0px 5em;
	}
	.lawyer-holder	{
		background-color: #404244;
		overflow: hidden;
		margin-top: 4em;

		.details-lawyer {
			margin: 20px; 
		}
		h3, h4 {
			color: #ffffff;
		}
		p {
			color: #9c9c9c;
		}
		.btn-default {
			background-color: #a4aabc;
			color: #ffffff;
			padding: 10px 30px;
		}
	}
	.img-lawyer-holder {
		max-width: 200px;
		width: 100%;
	}
}

.section-history {
	padding: 8em 0;
}
.history-content {
	margin: 0px 5em;
}

.history-content-holder {
	margin-top: 8em;
}
.section-holder {
	padding: 0em 1em 0em 1em;
	p {
		padding-top: 20px;
		text-align: center;
	}
}
.section-contact {
	padding-bottom: 5em;
	.section-title {
		text-align: left;
	}
	li {
		font-size: 16px;
		color: @gray;
	}
	p {
		margin-top: 2.5em;
		padding-right: 5em;
	}ul {
		margin-top: 3em;
	}
	span {
		margin-left: 1em;
	}
	.location-map {
		width: 100%;
		height: 300px;
	}
}