.list-icon{
	padding-left: 20px;

	li {
		position: relative;

		a{
			color: @gray;
			font-family: @bran_reg;
			font-size: 17px;
			display: block;
		}

		&:before{
			content: "\e801";
			position: absolute;
			left: -25px;
			top: 2px;
			color: @darkblue;
			font-family: 'icomoon';
		}
	}
}