.areas-of-practice {
  background-color: #f6f6f6;
  padding-bottom: 100px;
  font-family: 'Brandon_bld';
  color: #2e3a5e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.areas-of-practice .practice {
  overflow: hidden;
  height: 370px;
  /*		.prac-title {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			text-align: center;
			font-weight: bold;
			width: 100%;
			height: 100%;
			display: table;

			h4 {
				display: table-cell;
		    vertical-align: middle;
		    position: relative;
		    top: 20px;
		    opacity: 0;
		    color: #2c3e50;
		    text-transform: uppercase;
			}
		}
*/
}
.areas-of-practice .practice .prac-img-holder {
  position: relative;
  /*img {
				width: 100%;
				max-height: 300px;
				height: 100%;
			}*/
}
.areas-of-practice .practice .injury-img {
  background: url('../images/area1.png') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  /*
			 -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
  		-webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);*/
}
.areas-of-practice .practice .criminal-img {
  background: url('../images/area2.png') no-repeat;
  background-size: cover;
  width: 100%;
  /*height: 300px;*/
  height: 100%;
}
.areas-of-practice .practice .family-img {
  background: url('../images/area3.png') no-repeat;
  background-size: cover;
  width: 100%;
  /*height: 300px;*/
  height: 100%;
}
.areas-of-practice .practice .prac-title {
  background-color: #ffffff;
  padding: 30px;
  text-align: center;
}
.heading {
  text-align: center;
  font-family: 'Brandon_bld';
  padding: 70px 30px;
  color: #2e3a5e;
}
.welcome {
  padding-left: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.welcome .welc-img-holder {
  /*position: relative;
		img {
			top: 20%;
			width: 100%;
			height: auto;
		}*/
  margin-top: -50px;
}
.welcome .welc-content {
  font-family: 'Brandon_bld';
  color: #696666;
  padding: 0px 20px;
}
.welcome .welc-content .welc-desc {
  padding-top: 30px;
  font-family: 'Brandon_reg';
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: justify;
  color: #8f8c8c;
}
.welcome .welc-content .button-about {
  margin-bottom: 50px;
}
.welcome button {
  margin-top: 50px;
  padding: 20px 30px;
  letter-spacing: 3px;
  background-color: #2e3a5e;
  color: #ffffff;
  border: none;
}
.post-section {
  background: url('../images/post-sec-bg.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  padding: 75px 0px;
  /*font-family: Myriad Pro;*/
  font-family: 'Brandon_reg';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.post-section .latest-news {
  /*padding: 0px 165px 20px 0px;*/
  /*padding-right: 12em;*/
  /*margin-right: 12em;*/
}
.post-section .latest-news h2 {
  color: #2e3a5e;
  letter-spacing: 5px;
}
.post-section .latest-news .carousel-inner img {
  max-width: 400px;
  width: 100%;
}
.post-section .latest-news .carousel-inner h4 {
  color: #696666;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: 'Brandon_bld';
  /*margin-left: -45px;*/
}
.post-section .latest-news .carousel-inner p {
  font-size: 18px;
  line-height: 25px;
  text-align: justify;
  color: #8f8c8c;
}
.post-section .latest-news .news-img {
  margin-top: 30px;
}
.post-section .latest-news .news-desc {
  width: 73%;
}
.post-section .ln-slider .carousel-caption {
  position: relative;
  left: 0;
  bottom: 0px;
  color: #000000;
  text-shadow: none;
}
.post-section .ln-slider .carousel-indicators {
  top: 12em;
  bottom: none;
}
.post-section .request-form h2 {
  color: #2e3a5e;
  letter-spacing: 5px;
}
.post-section .request-form h4 {
  color: #696666;
  letter-spacing: 1px;
  font-family: 'Gotham_bold';
  line-height: 23px;
}
.post-section .request-form form {
  font-family: 'Brandon_bld';
}
.post-section .request-form form input {
  padding: 15px;
  width: 45%;
  margin-right: 20px;
  /*box-shadow: none;*/
}
.post-section .request-form form input:focus {
  border: 2px solid #2e3a5e;
  box-shadow: none;
}
.post-section .request-form form textarea {
  /*border: 2px solid #2e3a5e;*/
  border-radius: 0px;
  box-shadow: none !important;
  width: 93.5%;
}
.post-section .request-form .request-form-details {
  margin-top: 30px;
}
.post-section .request-form .request-form-details form {
  margin-top: 20px;
  /*.message {
				width: 94%;
				}*/
}
.post-section .request-form .request-form-details form button {
  background-color: #2e3a5e;
  color: #ffffff;
  border: none;
  padding: 15px 45px;
  margin-top: 40px;
}
.post-section .parent-arrows {
  color: #ffffff;
}
.post-section .parent-arrows .arrows {
  /*padding: 15px 45px;*/
  /*width: 20%;*/
  padding: 8px 40px;
  margin-right: 10px;
  background-color: #2e3a5e;
  color: #ffffff;
  font-size: 20px;
  border: none;
}
.post-section .parent-arrows .arrows:active {
  background-color: rgba(46, 58, 94, 0.59);
}
.practice-info {
  padding: 10em 0px;
  line-height: 33px;
  font-family: 'Brandon_reg';
}
.practice-info h3 {
  font-family: 'Brandon_bld';
}
.practice-info h4 {
  margin-top: 30px;
}
.practice-info p,
.practice-info li {
  color: #696666;
}
.practice-info .practice-info-title {
  margin-bottom: 50px;
  color: #2e3a5e;
}
.practice-info .right {
  margin-left: 40px;
}
.meet-the-team {
  font-family: 'Brandon_reg';
  padding: 3em 0px;
}
.meet-the-team .meet-the-team-desc {
  /*padding: 30px 0px;*/
}
.meet-the-team .meet-the-team-desc h3 {
  font-family: 'Brandon_bld';
  color: #2e3a5e;
  text-align: center;
}
.meet-the-team .meet-the-team-desc p {
  padding: 2em 10em;
  line-height: 30px;
  text-align: center;
  color: #404244;
}
.meet-the-team .lawyer-holder {
  background-color: #404244;
  overflow: hidden;
  margin-bottom: 4em;
}
.meet-the-team .lawyer-holder .lawyer-det-holder {
  margin: 20px;
}
.meet-the-team .lawyer-holder .lawyer-det-holder h3,
.meet-the-team .lawyer-holder .lawyer-det-holder h4 {
  color: #ffffff;
}
.meet-the-team .lawyer-holder .lawyer-det-holder p {
  color: #9c9c9c;
}
.meet-the-team .lawyer-holder .lawyer-det-holder .btn-default {
  background-color: #a4aabc;
  color: #ffffff;
}
.meet-the-team .lawyer-holder .laywer-img-holder img {
  width: 100%;
}
.vision-mission-content,
.history-content,
.cu-inner-content {
  padding: 5em 0em;
}
.inner-content {
  margin: 0px 3em 5em 3em;
  /*	margin-bottom: 8em;*/
}
.inner-content h3 {
  font-family: 'Brandon_bld';
  color: #2e3a5e;
  text-align: center;
}
.inner-content p {
  text-align: center;
  line-height: 30px;
  margin-top: 30px;
  color: #696666;
  font-family: 'Brandon_reg';
  font-size: 18px;
}
.history-inner-content {
  margin-top: 10em;
}
.history-inner-content h3 {
  text-align: left;
}
.history-inner-content p {
  text-align: left;
  margin-right: 20px;
}
.cu-inner-content p,
.cu-inner-content h3 {
  text-align: left;
}
.cu-inner-content .cu-form {
  margin-top: 20px;
}
.cu-inner-content .cu-form form {
  font-family: 'Brandon_bld';
}
.cu-inner-content .cu-form form input {
  padding: 15px;
  width: 45%;
  margin-right: 20px;
  /*box-shadow: none;*/
}
.cu-inner-content .cu-form form input:focus {
  border: 2px solid #2e3a5e;
  box-shadow: none;
}
.cu-inner-content .cu-form form textarea {
  /*border: 2px solid #2e3a5e;*/
  border-radius: 0px;
  box-shadow: none !important;
  width: 93.5%;
}
.cu-inner-content .cu-form form button {
  background-color: #2e3a5e;
  color: #ffffff;
  border: none;
  padding: 15px 45px;
  margin-top: 40px;
}
.location-map img {
  width: 100%;
  height: 445px;
}
.cu-info {
  line-height: 33px;
  font-family: 'Brandon_reg';
}
.cu-info h3 {
  font-family: 'Brandon_bld';
}
.cu-info p,
.cu-info li {
  color: #696666;
  font-size: 18px;
}
.cu-info .cu-info-title {
  margin-bottom: 30px;
  color: #2e3a5e;
}
.cu-info .cu-list li {
  line-height: 30px;
  margin-bottom: 1 0px;
}
